#content{
    display: flex;
    justify-content:center;
}
#content>*{
    margin-left:1cm;
}
#interact{
    width:8cm;
    height:8cm;
}
#color-box{
height:8cm;
width:8cm;
background-color: rgb(224, 134, 152);
}
.red-bar{
    width:8cm;
    height:1.5cm;
    margin-top:0px;
    background-color: rgb(224, 134, 152);
}
#header{
  padding-top: .5cm;
    height:1.5cm;
    background-color: rgb(224, 134, 152);
    margin-bottom: 1cm;
    font-weight: 500;
    font-size:x-large;
}
.button{
    margin-right:.3cm
}
input{
    margin-bottom: 0.4cm;
    background-color:rgb(201, 199, 199);
}
#account{
    display: flex;
    justify-content: flex-start;
}
#logout{
    position:relative;
    left:28cm;
    display: none;
    height: 1cm;
    width: 10%;
}
#allNotes{
    margin-left: 6cm;
}
#addNote{
    text-align: center;
    width: 36%;
    border-right: 2px solid;
    margin-right: 2cm;
}
.noteBox{
    background-color: rgb(219, 219, 135);
}
@media only screen and (max-width:600px){
#content{
    display: block;
}
#color-box{
    width:80%;
    height:300px;
}
.red-bar{
    display: none;
}
.button{
    display:block;
    position: relative;
    left:3cm;
    margin-bottom: .5cm;
}
#welcome{
text-align: center;
}
form{
    text-align: center;
}
#account{
    display: block;

}
#addNote{
    text-align: center;
   border-bottom: 2px solid;
    border-right: 0px solid;
    margin-right: 0cm;
    width: 75%;
    padding-bottom: .5cm;
    position: relative;
    left:1cm;
}
#allNotes{
    margin-left: 0cm;
    text-align: center;
}
.noteBox{
    background-color: rgb(219, 219, 135);
    width: 80%;
    text-align: center;
    position: relative;
    left: 1cm;
}
#logout{
    position:relative;
    left:3cm;
    display: none;
    height: 1cm;
    width: 20%;
}
}